
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import "compass/css3";

//colors
$blue1: #5e7c88;
$blue2: #4c5f6d;
$blue3: #363f45;
$blue4: #24221f;
$gold: #fcb31c;

*{
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}
body{
  font-family: "proxima-nova";
  background-color: #fff;
  background-color: $blue3;
}
.row{
  margin-bottom: 10px;
}
.white{
  background-color: #fff;
  margin-top: 40px;
  padding: 20px 40px;
  border-radius: 4px;
  @include box-shadow(0 20px 20px -15px rgba(#000, 0.7));
}
.dark{
  & h1{color: $gold;}
  & p{color: #eee;}
  margin: 50px 0;
}
.container{
  padding-top: 40px;
  padding-bottom: 40px;
}
h1{
  color: $blue3;
  text-transform: uppercase;
  font-family: "proxima-nova-extra-condensed";
  font-weight: 700;
  font-size: 72px;
  line-height: 60px;
  letter-spacing: -1px;
}
h2{
  color: $blue2;
  font-size: 28px;
  font-weight: 700;
  transition: translate .1s;
  letter-spacing: -.3px;
}
h3{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  .glyphicon{
    font-size: 13px;
    line-height: 18px;
    vertical-align: text-top;
  }
}
h4{
  color: $blue2;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}
p{
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  margin: 30px 0;
}
hr{
  margin-top: 15px;
  padding-top: 1px;
  background-color: $gold;
  border: none;
  margin-top: 20px;
}
small{
  color: #888;
  margin: 5px 0;
  font-size: 15px;
  a{
    font-weight: 600;
    color: $blue1;
  }
}
a{
  text-decoration: none;
  color: $blue1;
  font-weight: 600;
  .glyphicon-new-window{
    width: 0;
    overflow: hidden;
    font-size: 13px;
    @include transition(margin-right .1s);
  }
  &:hover{
    text-decoration: none;
    color: $gold;
    .glyphicon-new-window{
      width: auto;
      margin-right: 5px;
    }
  }
}
nav>a{
  display: block;
}
.back-link{
  display: block;
  padding: 20px 0;
  color: $blue4;
  will-change: margin-left;
  @include transition(margin .1s);
  &:hover{
    margin-left: -10px;
  }
}
.contact-link{
  display: block;
  margin-bottom: -7px;
  color: #fff;
  will-change: padding;
  @include transition(padding .15s ease);
  &:hover{
    padding-left: 15px;
  }
}
div .thumbnail{
  padding: 0;
  background: #f8f8f8;
  border: none;
  border-radius: 4px;
  text-align: center;
  transition: all .15s ease;
  -webkit-backface-visibility: hidden;
  &:hover{
    h2{
      color: $gold;
    }
    border: none;
    @include transform(translateY(-5px));
    @include box-shadow(0 20px 20px -15px rgba(#000, 0.7));
  }
  h2{
    margin: 0;
    margin-top: 5px;
    padding: 0;
  }
  h4{
    margin: 0;
    padding: 0;
  }
  img{
    border-radius: 3px;
  }
}
#hello{
  -webkit-animation-duration: .2s;
  -webkit-animation-name: hello;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-delay: 2s;
  -webkit-transition: all .1s;
}
@-webkit-keyframes hello{
  0%{
    @include transform(rotate(0));
  }
  50%{
    @include transform(rotate(1deg) translateY(-3px));
  }
  100%{
    @include transform(rotate(0));
  }
}
#me{
  -webkit-animation-name: me;
  -webkit-animation-duration: 2.2s;
  @include border-radius(50%);
}
@-webkit-keyframes me{
  0%{
    @include transform(translate(-50px));
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100%{
    @include transform(translate(0));
    opacity: 1;
  }
}
@media (max-width: 768px) {
  h3{
    font-size: 16px;
  }
}