
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import "compass/css3";

//colors
$blue1: #5e7c88;
$blue2: #4c5f6d;
$blue3: #363f45;
$blue4: #24221f;
$gold: #fcb31c;

*{
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  font-kerning: normal;
}
html{
  min-height: 100%;
}
body{
  font-family: "proxima-nova";
  background-color: #fff;
  background-color: $blue3;
}
.row{
  margin-bottom: 10px;
}
.white{
  background-color: #fff;
  margin-top: 40px;
  border-radius: 4px;
  @include box-shadow(0 20px 20px -15px rgba(#000, 0.7));
  h1{
    color: $blue3;
  }
  h2{
    color: $blue2;
  }
  h3{
    margin-top: 50px;
    color: #000;
  }
  h4{
    color: $blue2;
  }
  p{
    color: $blue3;
  }
  img{
    border: 2px solid white;
  }
}
.contact-container{
  padding: 30px;
}
.container{
  padding-top: 40px;
  padding-bottom: 40px;
}
h1{
  color: $gold;
  text-transform: uppercase;
  font-family: "proxima-nova-extra-condensed";
  font-weight: 700;
  font-size: 72px;
  line-height: 60px;
  letter-spacing: -1px;
}
h2{
  color: #eee;
  font-size: 28px;
  font-weight: 700;
  transition: translate .1s;
  letter-spacing: -.3px;
  a{
    font-weight: inherit;
  }
}
h3{
  text-transform: uppercase;
  font-size: 19px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 1px;
  .glyphicon{
    font-size: 13px;
    line-height: inherit;
    vertical-align: text-top;
  }
}
h4{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 1px;
  color: #aaa;
}
p{
  color: #ddd;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  margin: 30px 0;
}
ol{
  @extend p;
}
hr{
  border-top: 1px solid $gold;
  margin-top: 30px;
  margin-bottom: 30px;
}
small{
  display: block;
  color: #888;
  font-size: 15px;
  a{
    font-weight: 600;
    color: $blue1;
  }
}
a{
  text-decoration: none;
  color: $blue1;
  font-weight: 600;
  .glyphicon-new-window{
    width: 0;
    overflow: hidden;
    font-size: 70%;
    @include transition(margin .1s);
  }
  &:hover{
    text-decoration: none;
    color: $gold;
    .glyphicon-new-window{
      width: auto;
      margin: 0 5px;
    }
  }
}
.bold{
  font-weight: 600;
}
nav{
  &>a{
    display: block;
  }
  small{
    margin-top: -7px;
    margin-bottom: 5px;
  }
}
.back-link{
  display: block;
  color: $blue4;
  h3{
    margin: 0;
    will-change: margin-left;
    @include transition(margin .1s);
  }
  &:hover h3{
    color: $gold;
    margin-left: -10px;
  }
}
.forward-link{
  display: block;
  color: #fff;
  will-change: padding;
  @include transition(padding .15s ease);
  h3{
    padding: 10px 0;
    margin: 0;
  }
  &:hover{
    padding-left: 10px;
    h3{
      color: $gold;
    }
  }
}
div .thumbnail{
  padding: 0;
  color: white;
  background: rgba(#ccc,.2);
  border: none;
  border-radius: 4px;
  text-align: center;
  transition: all .15s ease;
  -webkit-backface-visibility: hidden;
  &:hover{
    h2{
      color: $gold;
    }
    border: none;
    @include transform(translateY(-5px));
    @include box-shadow(0 20px 20px -10px rgba(#000, 0.3));
  }
  h2{
    margin: 0;
    margin-top: 5px;
    padding: 0;
  }
  h4{
    margin: 0;
    padding: 0;
  }
  img{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0;
  }
}
img{
  margin-bottom: 15px;
  -webkit-backface-visibility: hidden;
}
#hello{
  -webkit-animation-duration: .2s;
  -webkit-animation-name: hello;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-delay: 2s;
  -webkit-transition: all .1s;
}
@-webkit-keyframes hello{
  0%{
    @include transform(rotate(0));
  }
  50%{
    @include transform(rotate(1deg) translateY(-3px));
  }
  100%{
    @include transform(rotate(0));
  }
}
#me{
  -webkit-animation-name: me;
  -webkit-animation-duration: 2.2s;
  @include border-radius(50%);
}
@-webkit-keyframes me{
  0%{
    @include transform(translate(-50px));
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100%{
    @include transform(translate(0));
    opacity: 1;
  }
}