/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../sass/screen.scss */
* {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  font-kerning: normal;
}

/* line 22, ../sass/screen.scss */
html {
  min-height: 100%;
}

/* line 25, ../sass/screen.scss */
body {
  font-family: "proxima-nova";
  background-color: #fff;
  background-color: #363f45;
}

/* line 30, ../sass/screen.scss */
.row {
  margin-bottom: 10px;
}

/* line 33, ../sass/screen.scss */
.white {
  background-color: #fff;
  margin-top: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.7);
  box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.7);
}
/* line 38, ../sass/screen.scss */
.white h1 {
  color: #363f45;
}
/* line 41, ../sass/screen.scss */
.white h2 {
  color: #4c5f6d;
}
/* line 44, ../sass/screen.scss */
.white h3 {
  margin-top: 50px;
  color: #000;
}
/* line 48, ../sass/screen.scss */
.white h4 {
  color: #4c5f6d;
}
/* line 51, ../sass/screen.scss */
.white p, .white ol {
  color: #363f45;
}
/* line 54, ../sass/screen.scss */
.white img {
  border: 2px solid white;
}

/* line 58, ../sass/screen.scss */
.contact-container {
  padding: 30px;
}

/* line 61, ../sass/screen.scss */
.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 65, ../sass/screen.scss */
h1 {
  color: #fcb31c;
  text-transform: uppercase;
  font-family: "proxima-nova-extra-condensed";
  font-weight: 700;
  font-size: 72px;
  line-height: 60px;
  letter-spacing: -1px;
}

/* line 74, ../sass/screen.scss */
h2 {
  color: #eee;
  font-size: 28px;
  font-weight: 700;
  transition: translate .1s;
  letter-spacing: -.3px;
}

/* line 81, ../sass/screen.scss */
h3 {
  text-transform: uppercase;
  font-size: 19px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 1px;
}
/* line 87, ../sass/screen.scss */
h3 .glyphicon {
  font-size: 13px;
  line-height: inherit;
  vertical-align: text-top;
}

/* line 93, ../sass/screen.scss */
h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 1px;
  color: #aaa;
}

/* line 101, ../sass/screen.scss */
p, ol {
  color: #ddd;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  margin: 30px 0;
}

/* line 111, ../sass/screen.scss */
hr {
  border-top: 1px solid #fcb31c;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 116, ../sass/screen.scss */
small {
  display: block;
  color: #888;
  font-size: 15px;
}
/* line 120, ../sass/screen.scss */
small a {
  font-weight: 600;
  color: #5e7c88;
}

/* line 125, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #5e7c88;
  font-weight: 600;
}
/* line 129, ../sass/screen.scss */
a .glyphicon-new-window {
  width: 0;
  overflow: hidden;
  font-size: 70%;
  -webkit-transition: margin 0.1s;
  -moz-transition: margin 0.1s;
  -o-transition: margin 0.1s;
  transition: margin 0.1s;
}
/* line 135, ../sass/screen.scss */
a:hover {
  text-decoration: none;
  color: #fcb31c;
}
/* line 138, ../sass/screen.scss */
a:hover .glyphicon-new-window {
  width: auto;
  margin: 0 5px;
}

/* line 144, ../sass/screen.scss */
.bold {
  font-weight: 600;
}

/* line 147, ../sass/screen.scss */
nav > a {
  display: block;
}

/* line 150, ../sass/screen.scss */
.back-link {
  display: block;
  padding: 20px 0;
  color: #24221f;
}
/* line 154, ../sass/screen.scss */
.back-link h3 {
  will-change: margin-left;
  -webkit-transition: margin 0.1s;
  -moz-transition: margin 0.1s;
  -o-transition: margin 0.1s;
  transition: margin 0.1s;
}
/* line 158, ../sass/screen.scss */
.back-link:hover h3 {
  color: #fcb31c;
  margin-left: -10px;
}

/* line 163, ../sass/screen.scss */
.contact-link {
  display: block;
  margin-bottom: -7px;
  color: #fff;
  will-change: padding;
  -webkit-transition: padding 0.15s ease;
  -moz-transition: padding 0.15s ease;
  -o-transition: padding 0.15s ease;
  transition: padding 0.15s ease;
}
/* line 169, ../sass/screen.scss */
.contact-link:hover {
  padding-left: 10px;
}

/* line 173, ../sass/screen.scss */
div .thumbnail {
  padding: 0;
  color: white;
  background: rgba(204, 204, 204, 0.2);
  border: none;
  border-radius: 4px;
  text-align: center;
  transition: all .15s ease;
  -webkit-backface-visibility: hidden;
}
/* line 182, ../sass/screen.scss */
div .thumbnail:hover {
  border: none;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.3);
}
/* line 183, ../sass/screen.scss */
div .thumbnail:hover h2 {
  color: #fcb31c;
}
/* line 190, ../sass/screen.scss */
div .thumbnail h2 {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}
/* line 195, ../sass/screen.scss */
div .thumbnail h4 {
  margin: 0;
  padding: 0;
}
/* line 199, ../sass/screen.scss */
div .thumbnail img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0;
}

/* line 205, ../sass/screen.scss */
img {
  margin-bottom: 15px;
  -webkit-backface-visibility: hidden;
}

/* line 209, ../sass/screen.scss */
#hello {
  -webkit-animation-duration: .2s;
  -webkit-animation-name: hello;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-delay: 2s;
  -webkit-transition: all .1s;
}

@-webkit-keyframes hello {
  /* line 217, ../sass/screen.scss */
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 220, ../sass/screen.scss */
  50% {
    -webkit-transform: rotate(1deg) translateY(-3px);
    -moz-transform: rotate(1deg) translateY(-3px);
    -ms-transform: rotate(1deg) translateY(-3px);
    -o-transform: rotate(1deg) translateY(-3px);
    transform: rotate(1deg) translateY(-3px);
  }

  /* line 223, ../sass/screen.scss */
  100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
}

/* line 227, ../sass/screen.scss */
#me {
  -webkit-animation-name: me;
  -webkit-animation-duration: 2.2s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

@-webkit-keyframes me {
  /* line 233, ../sass/screen.scss */
  0% {
    -webkit-transform: translate(-50px);
    -moz-transform: translate(-50px);
    -ms-transform: translate(-50px);
    -o-transform: translate(-50px);
    transform: translate(-50px);
    opacity: 0;
  }

  /* line 237, ../sass/screen.scss */
  30% {
    opacity: 0;
  }

  /* line 240, ../sass/screen.scss */
  100% {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
}
